html {
    font-size: 16px;
}

body {
    font-family: Courier, sans-serif;
    height: 100vh;
    background: repeating-linear-gradient(#000000, #7e7e7e, #ffffff);
    background-repeat: no-repeat;
}

.title, #ldnpage .text {
    text-align: center;
    color: white;
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#ldnpage .button {
    padding: 0.8rem;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 0.8rem;
    text-decoration: none;
    box-shadow: 0px 0.3125rem;
    color: rgb(80, 80, 80);
}

#ldnpage .button:active {
    margin-top: 0.3125rem;
    color: black;
    box-shadow: 0px 0px;
}

.dashboard {
    margin-top: 3rem;
    height: 30rem;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.dashboard .dash {
    background: linear-gradient(rgb(60,179,113), rgb(12, 75, 39));
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    color: rgb(219, 219, 219);
}

.dashboard .welcome-container {
    align-items: center;

    grid-column: 3/5;
}

.dashboard .welcome {
    color: #000000;
}

.dashboard .day-container {
    flex-direction: column;
    text-align: center;

    grid-row: 3/8;
    grid-column: 1/3;
}

.dashboard .routine {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: black;
}


.dashboard .routine-text {
    margin: 0.5rem 2rem 2rem 2rem;
    text-align: justify;
}

#index body {
    font-weight: bold;
    height: 100vh;
    background: linear-gradient(#222, #7c7c7c);

    display: flex;
    justify-content: center;
    align-items: center;
}

#index label {
    text-align: left;
}

#index .main {
    background-color: rgb(165, 164, 164);
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgb(128, 128, 128);
    width: 20%;
    border-radius: 1rem;
    text-align: center;
}

#index .form {
    width: 70%;
    margin: 0 auto;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#index .button {
    font-family: Courier;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5rem auto;
    width: 7rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
}

#index .button:hover {
    cursor: pointer;
}

#index .button:active {
    width: 7.4rem;
    height: 3.4rem;
    background-color: green;
    color: white;
}

